# Table of contents
1. [Introduction](#introduction)
2. [Manually Completing the Task](#paragraph1)
3. [Creating the Function](#paragraph2)
    1. [Parameter Inputs](#subparagraph1)
4. [Appendix: Full Code for the Function](#paragraph3)

## Introduction <a name="introduction"></a>

You are given a task to complete a report that summarizes the top 3 publishers for each year.

**This Jupyter Notebook assumes you've completed and read through each of the previous notebooks. This includes:**

1. Setting up the Initial py File
2. Reading in Files
3. Function 1 - Best Selling Games by Region by Year

Reading through the Function 2 guide is not required for this notebook.

Lets import the ``vgsales.csv`` dataset to start.

In [1]:
import pandas as pd
import os
import pythonguides as pg

Database directory is C:/Users/Kevin/Desktop/Data

In [2]:
games_file = pg.find_directory_file('vgsales')
df = pg.load_file(games_file)
df.head(5)

Using directory file: vgsales.csv

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## Manually Completing the Task <a name="paragraph1"></a>
  
Lets start by intaking the user-inputted years into a variable

In [3]:
s = input("Type in the years you want to search up, seperated by commas:")
years_inputted = list(map(int, s.split(',')))

Type in the years you want to search up, seperated by commas:2012, 2013, 2014, 2015

As you see above, I've inputted the years 2012, 2013, 2014, and 2015 when the prompt came up. These values should be in a list in the ``s`` variable:

In [4]:
s

'2012, 2013, 2014, 2015'

The next steps are quite straight-forward, filter for the years and utilize the ``groupby()`` function:

In [5]:
df = df[df['Year'].isin(years_inputted)]

df = df.groupby(['Year', 'Platform'])['Global_Sales'].sum().reset_index()

In [7]:
df.head(10)

     Year Platform  Global_Sales
0  2012.0      3DS         51.14
1  2012.0       DS         11.64
2  2012.0       PC         23.53
3  2012.0      PS3        109.49
4  2012.0      PSP          7.72
5  2012.0      PSV         18.53
6  2012.0      Wii         22.77
7  2012.0     WiiU         17.84
8  2012.0     X360        100.88
9  2013.0      3DS         55.88

Now lets transpose the data for better user-readability:

In [8]:
df = df.pivot(index='Platform', columns='Year', values='Global_Sales').reset_index().fillna(0)
df

Year Platform  2012.0  2013.0  2014.0  2015.0
0         3DS   51.14   55.88   43.14   26.99
1          DS   11.64    1.96    0.02    0.00
2          PC   23.53   12.83   13.39    8.07
3         PS3  109.49  117.39   50.96   18.22
4         PS4    0.00   24.76   98.76  115.30
5         PSP    7.72    3.19    0.24    0.12
6         PSV   18.53   12.69   14.74    7.10
7         Wii   22.77    9.36    4.44    1.55
8        WiiU   17.84   21.84   22.51   16.38
9        X360  100.88   89.61   36.42   13.05
10       XOne    0.00   18.60   52.43   57.66

## Creating the Function <a name="paragraph2"></a>

Lets create the function. The function is very similar to the manual steps above except for a few things. I will go over them momentarily. I will not go over the export functions as they have already been explained in the last example, [Function 1 - Best Selling Game by Region this Year](link)

I have also included the documentation in the function as well.

In [9]:
def console_sales_per_year(filename='vgsales'):
    """
    
    Generates the top selling game by each region by year. This function requires the user input data once it has been invoked.
    
    The user must input a minimum of one year as a response. If the user wishes to input more than one year, each year must be seperated by a comma: ``,``
    
    The final Data Frame will be exported to the current directory location.  

    Parameters
    ----------
    filename : string, optional
        Will default to ``vgsales`` if no input is given.

    Returns
    -------
    This function does not return a value but exports a dataframe to the current directory.

    """

    # Attempt to find the correct filename in the current directory
    games_file = find_directory_file(filename)
    
    # Load in the csv file into the dataframe, df
    df = load_file(games_file)
    
    # Ask user to input years seperated by commas
    s = input("Type in the years you want to search up, seperated by commas:")
    years_inputted = list(map(int, s.split(',')))
    
    # Filter main dataframe for the years inputted by user
    df = df[df['Year'].isin(years_inputted)]
    
    # Groupby console to calculate total sales by year
    df = df.groupby(['Year', 'Platform'])['Global_Sales'].sum().reset_index()
    
    # Pivot results for easier user readability in exported file
    df = df.pivot(index='Platform', columns='Year', values='Global_Sales').reset_index().fillna(0)
    
    # Export finalized dataframe
    filename = os.path.join(DIRECTORY_LOCATION, f'Console_Sales_per_Year.csv')
    df.to_csv(filename, index=False)   
    print(f'Exporting completed file to this folder path: {filename}')

### Parameter Inputs <a name="subparagraph1"></a>

The following are our parameters:

``console_sales_per_year(filename='vgsales'))``

- ``filename``: Will automatically attempt to find a filename with the name vgsales, unless specified by the user

In our example, we use the ``vgsales.csv`` file. Nothing is needed on the users side as they can simply call the function to complete it:

In [10]:
pg.console_sales_per_year()

Using directory file: vgsales.csv
Type in the years you want to search up, seperated by commas:2012, 2013, 2014
Exporting completed file to this folder path: C:/Users/Kevin/Desktop/Data\Console_Sales_per_Year.csv

## Full Code for the Function <a name="paragraph3"></a>

Here is the full completed code without any comments.

In [ ]:
def console_sales_per_year(filename='vgsales'):
    """
    
    Generates the top selling game by each region by year. This function requires the user input data once it has been invoked.
    
    The user must input a minimum of one year as a response. If the user wishes to input more than one year, each year must be seperated by a comma: ``,``
    
    The final Data Frame will be exported to the current directory location.  

    Parameters
    ----------
    filename : string, optional
        Will default to ``vgsales`` if no input is given.

    Returns
    -------
    This function does not return a value but exports a dataframe to the current directory.

    """
    
    games_file = find_directory_file(filename)
    df = load_file(games_file)
    
    s = input("Type in the years you want to search up, seperated by commas:")
    years_inputted = list(map(int, s.split(',')))
    df = df[df['Year'].isin(years_inputted)]
    
    df = df.groupby(['Year', 'Platform'])['Global_Sales'].sum().reset_index()
    df = df.pivot(index='Platform', columns='Year', values='Global_Sales').reset_index().fillna(0)
    
    filename = os.path.join(DIRECTORY_LOCATION, f'Console_Sales_per_Year.csv')
    df.to_csv(filename, index=False)   
    print(f'Exporting completed file to this folder path: {filename}')